p {
  font-family: Lato;
}

.belt {
  background-color: grey;
  min-height: 130px;
  display: flex;
  justify-content: space-evenly;
  overflow-x: scroll;
}

.belt-part {
  border-right: 4px dotted white;
  display: inline-block;
}

.big-person {
  font-size: 120px;
  margin-bottom: -40px;
}

.seat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.desk {
  background: #aaaaaa;
  padding: 20px;
  border-radius: 100px / 50px;
  z-index: -1;
}
