<h1>🍣 Sushi with RxJS</h1>

<p>
  Let's have some sushi! <strong>Open the console to get some.</strong> Feel free to change the
  flatteing operator in the <code>index.ts</code> file to apply a different sushi flattening
  strategy!
</p>

<button (click)="startSushi()">Start</button>
<button (click)="stopSushi()">Stop</button>

<hr />

<div class="belt">
  <div class="belt-part" *ngFor="let p of platesOnBelt">
    <app-plate [data]="p"></app-plate>
  </div>
</div>

<hr />

<div class="table">
  <div *ngIf="want" class="big-person">
    🙋🏼‍♀️
  </div>
  <div *ngIf="!want" class="big-person">
    🙇🏼‍♀️
  </div>
  <div *ngIf="currentPlate">
    <app-plate [data]="currentPlate"></app-plate>
  </div>
</div>
