.plate {
  display: flex;
  justify-content: space-evenly;
  width: 130px;
  height: 70px;
  background: white;
  margin: 1em;
  padding: 20px 5px 20px 5px;
  border-radius: 10px;
  box-shadow: /* Outer Plate Bevel */
  inset 0 5px 3px 0 rgba(180, 166, 166, 0.5), /* Top */
  inset 0 -5px 3px 0 rgba(0, 0, 0, .78), /* Bottom */
  inset 3px 0 2px 0 rgba(0, 0, 0, .25), /* Left */
  inset -3px 0 2px 0 rgba(0, 0, 0, .25), /* Right */
  /* Outer Plate Shadow */
  inset 0 5px 46px 0 rgba(0, 0, 0, .4), 0 5px 13px 0 rgba(0, 0, 0, .75);
}
